<h2>Sir Vote-a-lot</h2>
<div class="voting-wrapper">
  <div class="section input-options">
    <div>
      <div class="input-group">
        <input
          type="text"
          placeholder="Type a question"
          [formControl]="questionControl"
          maxlength="80"
        />
      </div>
      <ng-container *ngIf="questionControl.value">
        <div
          class="input-group"
          *ngFor="let option of arrFormGroups; let index = index"
        >
          <form [formGroup]="option">
            <input
              type="text"
              placeholder="Type an answer"
              formControlName="text"
              maxlength="80"
            />

            <button (click)="deleteOption(index); $event.preventDefault()">
              X
            </button>
          </form>
        </div>

        <div class="input-group" *ngIf="questionsFormArr.value.length !== 10">
          <form>
            <input
              type="text"
              placeholder="Type an answer"
              [formControl]="newOptionControl"
              maxlength="80"
            />
            <button
              (click)="addOption(); $event.preventDefault()"
              [disabled]="!newOptionControl.value.length"
            >
              add
            </button>
          </form>
        </div>
      </ng-container>
    </div>
    <div class="reset-block">
      <span>{{ questionsFormArr.value.length }}/10 answers</span>
      <button
        class="full-size-btn"
        (click)="clearOptions(); $event.preventDefault()"
        [disabled]="!questionsFormArr.value.length"
      >
        Reset
      </button>
    </div>
  </div>

  <div class="section options-selection">
    <div>
      <h3 class="question-title">
        {{ questionControl.value ? questionControl.value : "add a question" }}
      </h3>

      <div
        class="input-group"
        *ngFor="let option of arrFormGroups; let index = index"
      >
        <form [formGroup]="option">
          <input
            type="radio"
            [id]="option.get('text').value"
            name="selected-answer"
            [formControl]="answerControl"
            [value]="index"
          />
          <label [for]="option.get('text').value">{{
            option.get("text").value
          }}</label>
        </form>
      </div>
    </div>

    <div class="vote-btn-wrap">
      <button
        class="full-size-btn"
        (click)="voteForOption(); $event.preventDefault()"
        [disabled]="questionsFormArr.value.length < 2"
      >
        Vote
      </button>
    </div>
  </div>
  <div class="section chart">
    <p *ngIf="!questionsFormArr.value.length">add a question</p>
    <div id="chart" *ngIf="questionsFormArr.value.length">
      <apx-chart
        [series]="chartSeries"
        [chart]="chartChart"
        [xaxis]="chartXaxis"
        [title]="chartTitle"
      ></apx-chart>
    </div>
    <div>Total votes: {{ totalVotes }}</div>
  </div>
</div>
